<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="grid gap-10 lg:grid-cols-2">
    <div class="flex flex-col justify-center md:pr-8 xl:pr-0 lg:max-w-lg">
      <div class="max-w-xl mb-6">
        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
          Let us handle<br class="hidden md:block" />
          your next
          <span class="inline-block text-deep-purple-accent-400">destination</span>
        </h2>
        <p class="text-base text-gray-700 md:text-lg">
          Whether you are travelling for business or leisure, at Noveo Hotel we can offer the best rooms, prices and advice for your needs.
        </p>
      </div>
      <div>
        <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">
          <%= link_to "Check Rooms", rooms_path, class: "font-semibold" %>
          <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
            <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="flex items-center justify-center -mx-4 lg:pl-8">
      <div class="flex flex-col items-end px-3">
        <img
          class="object-cover mb-6 rounded shadow-lg h-28 sm:h-48 xl:h-56 w-28 sm:w-48 xl:w-56"
          src="https://cdn2.hubspot.net/hubfs/439788/Blog/Featured%20Images/Best%20Hotel%20Website%20Designs.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260"
          alt=""
          />
        <img class="object-cover w-20 h-20 rounded shadow-lg sm:h-32 xl:h-40 sm:w-32 xl:w-40" src="https://media.tophotel.de/uploads/2022/02/Radisson-Berlin-Umbau_web.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="" />
      </div>
      <div class="px-3">
        <img class="object-cover w-40 h-40 rounded shadow-lg sm:h-64 xl:h-80 sm:w-64 xl:w-80" src="https://media.radissonhotels.net/image/radisson-blu-1882-hotel-barcelona-sagrada-familia/lobbyview/16256-146732-f73899794_3xl.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 md:py-32 lg:px-8 lg:py-32">
  <div class="py-36 mx-auto sm:text-center lg:max-w-2xl">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
        <span class="relative inline-block">
          <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
            <defs>
              <pattern id="5dc90b42-5ed4-45a6-8e63-2d78ca9d3d95" x="0" y="0" width=".135" height=".30">
                <circle cx="1" cy="1" r=".7"></circle>
              </pattern>
            </defs>
            <rect fill="url(#5dc90b42-5ed4-45a6-8e63-2d78ca9d3d95)" width="52" height="24"></rect>
          </svg>
          <span class="relative">The</span>
        </span>
        highest ranked Hotel
      </h2>
      <p class="text-base text-gray-700 md:text-lg">
        Overlooking the strand, The Noveo Hotel provides a quiet oasis in the middle of a buzzing neighbourhood.
      </p>
    </div>
    <div class="mb-4 transition-shadow duration-300 hover:shadow-xl lg:mb-6">
      <img class="object-cover w-full h-56 rounded shadow-lg sm:h-64 md:h-80 lg:h-96" src="https://www.kayak.co.in/rimg/himg/0c/d3/4d/ice-116437-72663126_3XL-726788.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="" />
    </div>
    <p class="max-w-xl mb-4 text-base text-gray-700 sm:mx-auto">
      Each room features our signature mini-kitchen, as well as stylish touches, including bespoke artwork and special edition Paul Smith Anglepoise lamps, which echo our focus on quality British design and craftsmanship. With Nespresso machines and Brita filter taps, you can relax in your room with home comforts to enjoy.     </p>
  </div>
</div>
